<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    </configSections>
    <castle>
        <components>
            <component id="registrationItemsProvider" service="CrazyNumberGenerator.Providers.IRegistrationItemsProvider, CrazyStringGenerator" type="ConsoleApplication1.LuckyNumberRegistation, ConsoleApplication1"/>
            </components>
    </castle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
